<!-- ============ FILE INFO ============ -->
<!-- 
File Name: footer.ejs
Student’s Name: Tegveer Saggu
StudentID: 301153567
Date: 10/4/2023
-->

<footer class="bg-dark text-white mt-4">
    <div class="container p-3">
        <div class="row">
            <div class="col-12 text-center">
                <p>© 2023 Tegveer Saggu. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
